<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<center>
    <br><br><br><br><br><br>

    <form method="POST">
        <table>
            <tr>
                <td>Login</td>
                <td><input type="text" name="login"/></td>
            </tr>
            <tr>
                <td>Hasło</td>
                <td><input type="password" name="password"/></td>
            </tr>
        </table>
        <input type="submit" value="Loguj" class="btn btn-success"/>
    </form>
</center>
</body>
</html>